.explore {
  padding-top: 6rem;
}
.explore__form-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 460px;
}
form.explore__form select {
  max-width: 22rem;
  display: block;
  width: 100%;
  padding: 1.3rem 1.3rem;
  border: 0.1rem solid #afb0b9;
  cursor: pointer;
  margin: 2rem 0;
  border-radius: 0.5rem;
}
article.explore__content,
article.explore__image {
  width: 50%;
  padding: 0 1.5rem;
}

.explore__content .title {
  margin: 0 0 10rem 0;
}

.explore__content .title--small {
  margin: 0 0 5rem 0;
}

.explore__content .btn {
  margin: 3rem 0 0 0;
  display: block;
  padding: 1.5rem 5.6rem;
  font-weight: 900;
}

article.explore__content p {
  line-height: 2.5rem;
  width: 80%;
}

.flex--verso {
  flex-direction: row-reverse;
  align-items: center;
}

@media (max-width: 1024px) {
  main .flex,
  main .flex--verso {
    flex-direction: column;
  }
  section.explore article.explore__content,
  section.explore article.explore__image {
    margin: 0 auto;
  }
  section.explore article.explore__content,
  section.explore article.explore__image {
    width: 60%;
  }
}

@media (max-width: 900px) {
  form.explore__form select {
    max-width: 27.8rem;
  }
  article.explore__image img {
    max-width: 100%;
    margin: 10rem auto;
    text-align: center;
    display: block;
  }
}

@media (max-width: 768px) {
  section.explore article.explore__content,
  section.explore article.explore__image {
    width: 90%;
  }
}
