.title {
  color: var(--colorBlack);
  font-size: 6rem;
}
.title--small {
  color: var(--colorBlack);
  font-size: 2.2rem;
  font-weight: 500;
}

p {
  color: var(--colortextP);
  font-size: 1.5rem;
  font-weight: 200;
}

.btn {
  background: var(--colorMain) !important;
  color: var(--colorWhite);
  padding: 1rem 4rem;
  text-align: center;
  border-radius: 0.5rem;
  background: transparent;
  transition: all 0.3s linear;
  border: none;
  max-width: fit-content;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 900px) {
}
